<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="ion-text-center">
    <h2>Holidays by Country App</h2>
    <small>by Allan Ramirez</small>
  </div>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onClickSignIn(loginForm.value)">
    
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" placeholder="Enter your email" formControlName="email"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_messages.email" class="ion-padding">
      <div *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="ion-text-center">
        <small>{{ error.message }}</small>
      </div>
    </ng-container>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_messages.password" class="ion-padding">
        <div *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="ion-text-center">
         <small> {{ error.message }}</small>
        </div>
    </ng-container>

    <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Sign In</ion-button>
    
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
  </form>
</ion-content>
